In [15]:
-- Init
DROP DATABASE IF EXISTS store;
CREATE DATABASE store;

: Msg 3702, Level 16, State 3, Line 2
Cannot drop database "store" because it is currently in use.

: Msg 1801, Level 16, State 3, Line 3
Database 'store' already exists. Choose a different database name.

In [ ]:
-- Init Data
USE store;

IF OBJECT_ID('Products', 'U') IS NULL
BEGIN
    CREATE TABLE Products
    (
        ProductId int NOT NULL PRIMARY KEY IDENTITY(1,1),
        Name varchar(50) NOT NULL,
        QuantityInStock int NOT NULL,
        UnitPrice decimal(4,2) NOT NULL
    );

    -- Insert Data into Products
    INSERT INTO  Products  VALUES ('Foam Dinner Plate',70,1.21);
    INSERT INTO  Products  VALUES ('Pork - Bacon,back Peameal',49,4.65);
    INSERT INTO  Products  VALUES ('Lettuce - Romaine, Heart',38,3.35);
    INSERT INTO  Products  VALUES ('Brocolinni - Gaylan, Chinese',90,4.53);
    INSERT INTO  Products  VALUES ('Sauce - Ranch Dressing',94,1.63);
    INSERT INTO  Products  VALUES ('Petit Baguette',14,2.39);
    INSERT INTO  Products  VALUES ('Sweet Pea Sprouts',98,3.29);
    INSERT INTO  Products  VALUES ('Island Oasis - Raspberry',26,0.74);
    INSERT INTO  Products  VALUES ('Longan',67,2.26);
    INSERT INTO  Products  VALUES ('Broom - Push',6,1.09);

END

IF OBJECT_ID('Shippers', 'U') IS NULL
BEGIN
    CREATE TABLE Shippers
    (
        ShipperId int NOT NULL PRIMARY KEY IDENTITY(1,1),
        name varchar (50) NOT NULL,
    );
    INSERT INTO Shippers VALUES ('Hettinger LLC');
    INSERT INTO  Shippers VALUES ('Schinner-Predovic');
    INSERT INTO  Shippers VALUES ('Satterfield LLC');
    INSERT INTO  Shippers VALUES ('Mraz, Renner and Nolan');
    INSERT INTO  Shippers VALUES ('Waters, Mayert and Prohaska');
END


IF OBJECT_ID('Customers', 'U') IS NULL
BEGIN
    CREATE TABLE Customers
    (
        CustomerId int NOT NULL PRIMARY KEY IDENTITY(1,1),
        FirstName varchar (50) NOT NULL,
        LastName varchar (50) NOT NULL,
        BirthDate date DEFAULT NULL,
        Phone varchar (50) DEFAULT NULL,
        Address varchar (50) NOT NULL,
        City varchar (50) NOT NULL,
        State char (2) NOT NULL,
        Points int NOT NULL DEFAULT '0',
    );

    -- Insert Data into CUSTOMERS
    INSERT INTO  CUSTOMERS  VALUES ('Babara','MacCaffrey','1986-03-28','781-932-9754','0 Sage Terrace','Waltham','MA',2273);
    INSERT INTO  CUSTOMERS  VALUES ('Ines','Brushfield','1986-04-13','804-427-9456','14187 Commercial Trail','Hampton','VA',947);
    INSERT INTO  CUSTOMERS  VALUES ('Freddi','Boagey','1985-02-07','719-724-7869','251 Springs Junction','Colorado Springs','CO',2967);
    INSERT INTO  CUSTOMERS  VALUES ('Ambur','Roseburgh','1974-04-14','407-231-8017','30 Arapahoe Terrace','Orlando','FL',457);
    INSERT INTO  CUSTOMERS  VALUES ('Clemmie','Betchley','1973-11-07',NULL,'5 Spohn Circle','Arlington','TX',3675);
    INSERT INTO  CUSTOMERS  VALUES ('Elka','Twiddell','1991-09-04','312-480-8498','7 Manley Drive','Chicago','IL',3073);
    INSERT INTO  CUSTOMERS  VALUES ('Ilene','Dowson','1964-08-30','615-641-4759','50 Lillian Crossing','Nashville','TN',1672);
    INSERT INTO  CUSTOMERS  VALUES ('Thacher','Naseby','1993-07-17','941-527-3977','538 Mosinee Center','Sarasota','FL',205);
    INSERT INTO  CUSTOMERS  VALUES ('Romola','Rumgay','1992-05-23','559-181-3744','3520 Ohio Trail','Visalia','CA',1486);
    INSERT INTO  CUSTOMERS  VALUES ('Levy','Mynett','1969-10-13','404-246-3370','68 Lawn Avenue','Atlanta','GA',796);
END

IF OBJECT_ID('OrderStatuses', 'U') IS NULL
BEGIN
    CREATE TABLE OrderStatuses
    (
    OrderStatusesID  int NOT NULL PRIMARY KEY,
    name  varchar(50) NOT NULL
    );
    -- Insert Data into Order Status
    INSERT INTO  OrderStatuses  VALUES (1,'Processed');
    INSERT INTO  OrderStatuses  VALUES (2,'Shipped');
    INSERT INTO  OrderStatuses  VALUES (3,'Delivered');
END

IF OBJECT_ID('Orders', 'U') IS NULL
BEGIN
    CREATE TABLE Orders
    (
    OrderID  int NOT NULL PRIMARY KEY IDENTITY(1,1),
    CustomerId  int NOT NULL FOREIGN KEY REFERENCES Customers(CustomerId) ON UPDATE CASCADE,
    OrderDate  date NOT NULL,
    Status  int NOT NULL DEFAULT '1' FOREIGN KEY REFERENCES OrderStatuses(OrderStatusesID) ON UPDATE CASCADE,
    comments  varchar(2000) DEFAULT NULL,
    ShippedDate  date DEFAULT NULL,
    ShipperId  int DEFAULT NULL FOREIGN KEY REFERENCES Shippers(ShipperId) ON UPDATE CASCADE,
    );
    -- Insert Data into Orders
    INSERT INTO  Orders  VALUES (6,'2019-01-30',1,NULL,NULL,NULL);
    INSERT INTO  Orders  VALUES (7,'2018-08-02',2,NULL,'2018-08-03',4);
    INSERT INTO  Orders  VALUES (8,'2017-12-01',1,NULL,NULL,NULL);
    INSERT INTO  Orders  VALUES (2,'2017-01-22',1,NULL,NULL,NULL);
    INSERT INTO  Orders  VALUES (5,'2017-08-25',2,'','2017-08-26',3);
    INSERT INTO  Orders  VALUES (10,'2018-11-18',1,'Aliquam erat volutpat. In congue.',NULL,NULL);
    INSERT INTO  Orders  VALUES (2,'2018-09-22',2,NULL,'2018-09-23',4);
    INSERT INTO  Orders  VALUES (5,'2018-06-08',1,'Mauris enim leo, rhoncus sed, vestibulum sit amet, cursus id, turpis.',NULL,NULL);
    INSERT INTO  Orders  VALUES (10,'2017-07-05',2,'Nulla mollis molestie lorem. Quisque ut erat.','2017-07-06',1);
    INSERT INTO  Orders  VALUES (6,'2018-04-22',2,NULL,'2018-04-23',2);
END


IF OBJECT_ID('OrderItems', 'U') IS NULL
BEGIN
    CREATE TABLE OrderItems
    (
    OrderId  int NOT NULL FOREIGN KEY REFERENCES Orders(OrderID) ON UPDATE CASCADE,
    ProductId  int NOT NULL FOREIGN KEY REFERENCES Products(ProductId) ON UPDATE CASCADE,
    Quantity  int NOT NULL,
    UnitPrice  decimal(4,2) NOT NULL,
    PRIMARY KEY ( OrderId , ProductId ),
    );
    -- Insert Data into Order Items
    INSERT INTO  OrderItems  VALUES (1,4,4,3.74);
    INSERT INTO  OrderItems  VALUES (2,1,2,9.10);
    INSERT INTO  OrderItems  VALUES (2,4,4,1.66);
    INSERT INTO  OrderItems  VALUES (2,6,2,2.94);
    INSERT INTO  OrderItems  VALUES (3,3,10,9.12);
    INSERT INTO  OrderItems  VALUES (4,3,7,6.99);
    INSERT INTO  OrderItems  VALUES (4,10,7,6.40);
    INSERT INTO  OrderItems  VALUES (5,2,3,9.89);
    INSERT INTO  OrderItems  VALUES (6,1,4,8.65);
    INSERT INTO  OrderItems  VALUES (6,2,4,3.28);
    INSERT INTO  OrderItems  VALUES (6,3,4,7.46);
    INSERT INTO  OrderItems  VALUES (6,5,1,3.45);
    INSERT INTO  OrderItems  VALUES (7,3,7,9.17);
    INSERT INTO  OrderItems  VALUES (8,5,2,6.94);
    INSERT INTO  OrderItems  VALUES (8,8,2,8.59);
    INSERT INTO  OrderItems  VALUES (9,6,5,7.28);
    INSERT INTO  OrderItems  VALUES (10,1,10,6.01);
    INSERT INTO  OrderItems  VALUES (10,9,9,4.28);
END

IF OBJECT_ID('OrderItemNotes', 'U') IS NULL
BEGIN
    CREATE TABLE OrderItemNotes
    (
    NoteId  INT NOT NULL PRIMARY KEY,
    OrderId  INT NOT NULL,
    ProductId  INT NOT NULL,
    Note  VARCHAR(255) NOT NULL,
    );
    -- Insert Data into Order Item Notes
    INSERT INTO  OrderItemNotes VALUES ('1', '1', '2', 'first note');
    INSERT INTO  OrderItemNotes VALUES ('2', '1', '2', 'second note');
END

In [ ]:
-- Exercise 1
-- Select clause
SELECT Name, UnitPrice, UnitPrice * 1.1 as 'New Price'  from Products;

In [ ]:
-- Exercise 2 : Where Clause
-- Get the orders placed this year
SELECT * FROM ORDERS WHERE OrderDate >= '2018-01-01'
SELECT * FROM ORDERS WHERE YEAR(OrderDate) = YEAR(GETDATE()) - 4

In [9]:
-- Exercise 3 
 -- Get items for 6th order price greater than 30
 SELECT * FROM OrderItems WHERE OrderId = 6 AND Quantity * UnitPrice > 30;

OrderId,ProductId,Quantity,UnitPrice
6,1,4,8.65

In [11]:
-- Exercise 4
-- Products with stock 49, 38, 72

SELECT * FROM Products WHERE QuantityInStock in (49, 38, 72);

ProductId,Name,QuantityInStock,UnitPrice
2,"Pork - Bacon,back Peameal",49,4.65
3,"Lettuce - Romaine, Heart",38,3.35

In [16]:
-- Exercise 5
-- Customers born Between 1/1/1990 and 1/1/2000

SELECT * FROM Customers WHERE BirthDate BETWEEN '1/1/1990' AND '1/1/2000';

CustomerId,FirstName,LastName,BirthDate,Phone,Address,City,State,Points
6,Elka,Twiddell,1991-09-04,312-480-8498,7 Manley Drive,Chicago,IL,3073
8,Thacher,Naseby,1993-07-17,941-527-3977,538 Mosinee Center,Sarasota,FL,205
9,Romola,Rumgay,1992-05-23,559-181-3744,3520 Ohio Trail,Visalia,CA,1486

In [20]:
-- Exercise 6 (Like)
-- Customers with addresses containing 'Trail' or 'Avenue'
SELECT * FROM Customers WHERE Address like '%TRAIL%' or Address like '%AVENUE%';

-- Phone numbers end with 9
SELECT * FROM Customers WHERE Phone like '%9';

SELECT * FROM Customers WHERE Phone NOT like '%9';

CustomerId,FirstName,LastName,BirthDate,Phone,Address,City,State,Points
2,Ines,Brushfield,1986-04-13,804-427-9456,14187 Commercial Trail,Hampton,VA,947
9,Romola,Rumgay,1992-05-23,559-181-3744,3520 Ohio Trail,Visalia,CA,1486
10,Levy,Mynett,1969-10-13,404-246-3370,68 Lawn Avenue,Atlanta,GA,796

CustomerId,FirstName,LastName,BirthDate,Phone,Address,City,State,Points
3,Freddi,Boagey,1985-02-07,719-724-7869,251 Springs Junction,Colorado Springs,CO,2967
7,Ilene,Dowson,1964-08-30,615-641-4759,50 Lillian Crossing,Nashville,TN,1672

CustomerId,FirstName,LastName,BirthDate,Phone,Address,City,State,Points
1,Babara,MacCaffrey,1986-03-28,781-932-9754,0 Sage Terrace,Waltham,MA,2273
2,Ines,Brushfield,1986-04-13,804-427-9456,14187 Commercial Trail,Hampton,VA,947
4,Ambur,Roseburgh,1974-04-14,407-231-8017,30 Arapahoe Terrace,Orlando,FL,457
6,Elka,Twiddell,1991-09-04,312-480-8498,7 Manley Drive,Chicago,IL,3073
8,Thacher,Naseby,1993-07-17,941-527-3977,538 Mosinee Center,Sarasota,FL,205
9,Romola,Rumgay,1992-05-23,559-181-3744,3520 Ohio Trail,Visalia,CA,1486
10,Levy,Mynett,1969-10-13,404-246-3370,68 Lawn Avenue,Atlanta,GA,796

In [46]:
--  Regular Expressions via 'like' operator
-- There is not REGEXP in SQL Server like in MySql

SELECT * FROM Customers WHERE LastName like '[A-D]%';

SELECT * FROM Customers WHERE LastName like '%B%[x-z]';

SELECT * FROM Customers WHERE LastName like '%field' OR LastName like 'mac%';

CustomerId,FirstName,LastName,BirthDate,Phone,Address,City,State,Points
2,Ines,Brushfield,1986-04-13,804-427-9456,14187 Commercial Trail,Hampton,VA,947
3,Freddi,Boagey,1985-02-07,719-724-7869,251 Springs Junction,Colorado Springs,CO,2967
5,Clemmie,Betchley,1973-11-07,NULL,5 Spohn Circle,Arlington,TX,3675
7,Ilene,Dowson,1964-08-30,615-641-4759,50 Lillian Crossing,Nashville,TN,1672

CustomerId,FirstName,LastName,BirthDate,Phone,Address,City,State,Points
3,Freddi,Boagey,1985-02-07,719-724-7869,251 Springs Junction,Colorado Springs,CO,2967
5,Clemmie,Betchley,1973-11-07,NULL,5 Spohn Circle,Arlington,TX,3675
8,Thacher,Naseby,1993-07-17,941-527-3977,538 Mosinee Center,Sarasota,FL,205

CustomerId,FirstName,LastName,BirthDate,Phone,Address,City,State,Points
1,Babara,MacCaffrey,1986-03-28,781-932-9754,0 Sage Terrace,Waltham,MA,2273
2,Ines,Brushfield,1986-04-13,804-427-9456,14187 Commercial Trail,Hampton,VA,947

In [52]:

-- Exercise 7
-- Customers first names ELKA or AMBUR

SELECT * FROM Customers WHERE FirstName = 'ELKA' or FirstName = 'Ambur';

-- Last Names end with EY or ON

SELECT * FROM Customers WHERE LastName like '%EY' or LastName like '%ON';

SELECT * FROM Customers WHERE FirstName = 'ELKA' or LastName = 'Ambur' OR  LastName like '%EY' or LastName like '%ON';


-- Last Names start with MY or contains SE

SELECT * FROM Customers WHERE LastName like 'MY%' OR LastName like '%SE%';
-- Last names contain B followed by R or U

SELECT * FROM Customers WHERE LastName like '%b[r]%' OR LastName like '%b[u]%';

SELECT * FROM Customers WHERE LastName like 'MY%' OR LastName like '%SE%' OR LastName like '%b[r]%' OR LastName like '%b[u]%';

CustomerId,FirstName,LastName,BirthDate,Phone,Address,City,State,Points
4,Ambur,Roseburgh,1974-04-14,407-231-8017,30 Arapahoe Terrace,Orlando,FL,457
6,Elka,Twiddell,1991-09-04,312-480-8498,7 Manley Drive,Chicago,IL,3073

CustomerId,FirstName,LastName,BirthDate,Phone,Address,City,State,Points
1,Babara,MacCaffrey,1986-03-28,781-932-9754,0 Sage Terrace,Waltham,MA,2273
3,Freddi,Boagey,1985-02-07,719-724-7869,251 Springs Junction,Colorado Springs,CO,2967
5,Clemmie,Betchley,1973-11-07,NULL,5 Spohn Circle,Arlington,TX,3675
7,Ilene,Dowson,1964-08-30,615-641-4759,50 Lillian Crossing,Nashville,TN,1672

CustomerId,FirstName,LastName,BirthDate,Phone,Address,City,State,Points
1,Babara,MacCaffrey,1986-03-28,781-932-9754,0 Sage Terrace,Waltham,MA,2273
3,Freddi,Boagey,1985-02-07,719-724-7869,251 Springs Junction,Colorado Springs,CO,2967
5,Clemmie,Betchley,1973-11-07,NULL,5 Spohn Circle,Arlington,TX,3675
6,Elka,Twiddell,1991-09-04,312-480-8498,7 Manley Drive,Chicago,IL,3073
7,Ilene,Dowson,1964-08-30,615-641-4759,50 Lillian Crossing,Nashville,TN,1672

CustomerId,FirstName,LastName,BirthDate,Phone,Address,City,State,Points
4,Ambur,Roseburgh,1974-04-14,407-231-8017,30 Arapahoe Terrace,Orlando,FL,457
8,Thacher,Naseby,1993-07-17,941-527-3977,538 Mosinee Center,Sarasota,FL,205
10,Levy,Mynett,1969-10-13,404-246-3370,68 Lawn Avenue,Atlanta,GA,796

CustomerId,FirstName,LastName,BirthDate,Phone,Address,City,State,Points
2,Ines,Brushfield,1986-04-13,804-427-9456,14187 Commercial Trail,Hampton,VA,947
4,Ambur,Roseburgh,1974-04-14,407-231-8017,30 Arapahoe Terrace,Orlando,FL,457

CustomerId,FirstName,LastName,BirthDate,Phone,Address,City,State,Points
2,Ines,Brushfield,1986-04-13,804-427-9456,14187 Commercial Trail,Hampton,VA,947
4,Ambur,Roseburgh,1974-04-14,407-231-8017,30 Arapahoe Terrace,Orlando,FL,457
8,Thacher,Naseby,1993-07-17,941-527-3977,538 Mosinee Center,Sarasota,FL,205
10,Levy,Mynett,1969-10-13,404-246-3370,68 Lawn Avenue,Atlanta,GA,796