In [4]:
-- Init
-- Ensure Init StoreDB is run before to setup the Store DB

USE Store;

In [5]:
-- Exercise 1
-- Select clause
SELECT Name, UnitPrice, UnitPrice * 2.1 as 'New Price'  from dbo.Products;

Name,UnitPrice,New Price
Foam Dinner Plate,1.21,2.541
"Pork - Bacon,back Peameal",4.65,9.765
"Lettuce - Romaine, Heart",3.35,7.035
"Brocolinni - Gaylan, Chinese",4.53,9.513
Sauce - Ranch Dressing,1.63,3.423
Petit Baguette,2.39,5.019
Sweet Pea Sprouts,3.29,6.909
Island Oasis - Raspberry,0.74,1.554
Longan,2.26,4.746
Broom - Push,1.09,2.289

In [6]:
-- Exercise 2 : Where Clause
-- Get the orders placed this year
SELECT * FROM ORDERS WHERE OrderDate >= '2018-01-01'
SELECT * FROM ORDERS WHERE YEAR(OrderDate) = YEAR(GETDATE()) - 4

OrderID,CustomerId,OrderDate,Status,comments,ShippedDate,ShipperId
1,6,2019-01-30,1,NULL,NULL,NULL
2,7,2018-08-02,2,NULL,2018-08-03,4
6,10,2018-11-18,1,Aliquam erat volutpat. In congue.,NULL,NULL
7,2,2018-09-22,2,NULL,2018-09-23,4
8,5,2018-06-08,1,"Mauris enim leo, rhoncus sed, vestibulum sit amet, cursus id, turpis.",NULL,NULL
10,6,2018-04-22,2,NULL,2018-04-23,2

OrderID,CustomerId,OrderDate,Status,comments,ShippedDate,ShipperId
2,7,2018-08-02,2,NULL,2018-08-03,4
6,10,2018-11-18,1,Aliquam erat volutpat. In congue.,NULL,NULL
7,2,2018-09-22,2,NULL,2018-09-23,4
8,5,2018-06-08,1,"Mauris enim leo, rhoncus sed, vestibulum sit amet, cursus id, turpis.",NULL,NULL
10,6,2018-04-22,2,NULL,2018-04-23,2

In [7]:
-- Exercise 3 
 -- Get items for 6th order price greater than 30
 SELECT * FROM OrderItems WHERE OrderId = 6 AND Quantity * UnitPrice > 30;

OrderId,ProductId,Quantity,UnitPrice
6,1,4,8.65

In [8]:
-- Exercise 4
-- Products with stock 49, 38, 72

SELECT * FROM Products WHERE QuantityInStock in (49, 38, 72);

ProductId,Name,QuantityInStock,UnitPrice
2,"Pork - Bacon,back Peameal",49,4.65
3,"Lettuce - Romaine, Heart",38,3.35

In [9]:
-- Exercise 5
-- Customers born Between 1/1/1990 and 1/1/2000

SELECT * FROM Customers WHERE BirthDate BETWEEN '1/1/1990' AND '1/1/2000';

CustomerId,FirstName,LastName,BirthDate,Phone,Address,City,State,Points
6,Elka,Twiddell,1991-09-04,312-480-8498,7 Manley Drive,Chicago,IL,3073
8,Thacher,Naseby,1993-07-17,941-527-3977,538 Mosinee Center,Sarasota,FL,205
9,Romola,Rumgay,1992-05-23,559-181-3744,3520 Ohio Trail,Visalia,CA,1486

In [10]:
-- Exercise 6 (Like)
-- Customers with addresses containing 'Trail' or 'Avenue'
SELECT * FROM Customers WHERE Address like '%TRAIL%' or Address like '%AVENUE%';

-- Phone numbers end with 9
SELECT * FROM Customers WHERE Phone like '%9';

SELECT * FROM Customers WHERE Phone NOT like '%9';

CustomerId,FirstName,LastName,BirthDate,Phone,Address,City,State,Points
2,Ines,Brushfield,1986-04-13,804-427-9456,14187 Commercial Trail,Hampton,VA,947
9,Romola,Rumgay,1992-05-23,559-181-3744,3520 Ohio Trail,Visalia,CA,1486
10,Levy,Mynett,1969-10-13,404-246-3370,68 Lawn Avenue,Atlanta,GA,796

CustomerId,FirstName,LastName,BirthDate,Phone,Address,City,State,Points
3,Freddi,Boagey,1985-02-07,719-724-7869,251 Springs Junction,Colorado Springs,CO,2967
7,Ilene,Dowson,1964-08-30,615-641-4759,50 Lillian Crossing,Nashville,TN,1672

CustomerId,FirstName,LastName,BirthDate,Phone,Address,City,State,Points
1,Babara,MacCaffrey,1986-03-28,781-932-9754,0 Sage Terrace,Waltham,MA,2273
2,Ines,Brushfield,1986-04-13,804-427-9456,14187 Commercial Trail,Hampton,VA,947
4,Ambur,Roseburgh,1974-04-14,407-231-8017,30 Arapahoe Terrace,Orlando,FL,457
6,Elka,Twiddell,1991-09-04,312-480-8498,7 Manley Drive,Chicago,IL,3073
8,Thacher,Naseby,1993-07-17,941-527-3977,538 Mosinee Center,Sarasota,FL,205
9,Romola,Rumgay,1992-05-23,559-181-3744,3520 Ohio Trail,Visalia,CA,1486
10,Levy,Mynett,1969-10-13,404-246-3370,68 Lawn Avenue,Atlanta,GA,796

In [11]:
--  Regular Expressions via 'like' operator
-- There is not REGEXP in SQL Server like in MySql

SELECT * FROM Customers WHERE LastName like '[A-D]%';

SELECT * FROM Customers WHERE LastName like '%B%[x-z]';

SELECT * FROM Customers WHERE LastName like '%field' OR LastName like 'mac%';

CustomerId,FirstName,LastName,BirthDate,Phone,Address,City,State,Points
2,Ines,Brushfield,1986-04-13,804-427-9456,14187 Commercial Trail,Hampton,VA,947
3,Freddi,Boagey,1985-02-07,719-724-7869,251 Springs Junction,Colorado Springs,CO,2967
5,Clemmie,Betchley,1973-11-07,NULL,5 Spohn Circle,Arlington,TX,3675
7,Ilene,Dowson,1964-08-30,615-641-4759,50 Lillian Crossing,Nashville,TN,1672

CustomerId,FirstName,LastName,BirthDate,Phone,Address,City,State,Points
3,Freddi,Boagey,1985-02-07,719-724-7869,251 Springs Junction,Colorado Springs,CO,2967
5,Clemmie,Betchley,1973-11-07,NULL,5 Spohn Circle,Arlington,TX,3675
8,Thacher,Naseby,1993-07-17,941-527-3977,538 Mosinee Center,Sarasota,FL,205

CustomerId,FirstName,LastName,BirthDate,Phone,Address,City,State,Points
1,Babara,MacCaffrey,1986-03-28,781-932-9754,0 Sage Terrace,Waltham,MA,2273
2,Ines,Brushfield,1986-04-13,804-427-9456,14187 Commercial Trail,Hampton,VA,947

In [14]:
-- Exercise 7
-- Customers first names ELKA or AMBUR

SELECT * FROM Customers WHERE FirstName = 'ELKA' or FirstName = 'Ambur';

-- Last Names end with EY or ON

SELECT * FROM Customers WHERE LastName like '%EY' or LastName like '%ON';

SELECT * FROM Customers WHERE FirstName = 'ELKA' or LastName = 'Ambur' OR  LastName like '%EY' or LastName like '%ON';


-- Last Names start with MY or contains SE

SELECT * FROM Customers WHERE LastName like 'MY%' OR LastName like '%SE%';
-- Last names contain B followed by R or U

SELECT * FROM Customers WHERE LastName like '%b[r]%' OR LastName like '%b[u]%';

SELECT * FROM Customers WHERE LastName like 'MY%' OR LastName like '%SE%' OR LastName like '%b[r]%' OR LastName like '%b[u]%';

CustomerId,FirstName,LastName,BirthDate,Phone,Address,City,State,Points
4,Ambur,Roseburgh,1974-04-14,407-231-8017,30 Arapahoe Terrace,Orlando,FL,457
6,Elka,Twiddell,1991-09-04,312-480-8498,7 Manley Drive,Chicago,IL,3073

CustomerId,FirstName,LastName,BirthDate,Phone,Address,City,State,Points
1,Babara,MacCaffrey,1986-03-28,781-932-9754,0 Sage Terrace,Waltham,MA,2273
3,Freddi,Boagey,1985-02-07,719-724-7869,251 Springs Junction,Colorado Springs,CO,2967
5,Clemmie,Betchley,1973-11-07,NULL,5 Spohn Circle,Arlington,TX,3675
7,Ilene,Dowson,1964-08-30,615-641-4759,50 Lillian Crossing,Nashville,TN,1672

CustomerId,FirstName,LastName,BirthDate,Phone,Address,City,State,Points
1,Babara,MacCaffrey,1986-03-28,781-932-9754,0 Sage Terrace,Waltham,MA,2273
3,Freddi,Boagey,1985-02-07,719-724-7869,251 Springs Junction,Colorado Springs,CO,2967
5,Clemmie,Betchley,1973-11-07,NULL,5 Spohn Circle,Arlington,TX,3675
6,Elka,Twiddell,1991-09-04,312-480-8498,7 Manley Drive,Chicago,IL,3073
7,Ilene,Dowson,1964-08-30,615-641-4759,50 Lillian Crossing,Nashville,TN,1672

CustomerId,FirstName,LastName,BirthDate,Phone,Address,City,State,Points
4,Ambur,Roseburgh,1974-04-14,407-231-8017,30 Arapahoe Terrace,Orlando,FL,457
8,Thacher,Naseby,1993-07-17,941-527-3977,538 Mosinee Center,Sarasota,FL,205
10,Levy,Mynett,1969-10-13,404-246-3370,68 Lawn Avenue,Atlanta,GA,796

CustomerId,FirstName,LastName,BirthDate,Phone,Address,City,State,Points
2,Ines,Brushfield,1986-04-13,804-427-9456,14187 Commercial Trail,Hampton,VA,947
4,Ambur,Roseburgh,1974-04-14,407-231-8017,30 Arapahoe Terrace,Orlando,FL,457

CustomerId,FirstName,LastName,BirthDate,Phone,Address,City,State,Points
2,Ines,Brushfield,1986-04-13,804-427-9456,14187 Commercial Trail,Hampton,VA,947
4,Ambur,Roseburgh,1974-04-14,407-231-8017,30 Arapahoe Terrace,Orlando,FL,457
8,Thacher,Naseby,1993-07-17,941-527-3977,538 Mosinee Center,Sarasota,FL,205
10,Levy,Mynett,1969-10-13,404-246-3370,68 Lawn Avenue,Atlanta,GA,796

In [19]:
-- Exercise 8
-- Get the Order that are not shipped
SELECT * FROM Orders WHERE ShippedDate IS NULL;

-- Alternatively

SELECT * FROM Orders WHERE Status  < 2;

OrderID,CustomerId,OrderDate,Status,comments,ShippedDate,ShipperId
1,6,2019-01-30,1,NULL,NULL,NULL
3,8,2017-12-01,1,NULL,NULL,NULL
4,2,2017-01-22,1,NULL,NULL,NULL
6,10,2018-11-18,1,Aliquam erat volutpat. In congue.,NULL,NULL
8,5,2018-06-08,1,"Mauris enim leo, rhoncus sed, vestibulum sit amet, cursus id, turpis.",NULL,NULL

OrderID,CustomerId,OrderDate,Status,comments,ShippedDate,ShipperId
1,6,2019-01-30,1,NULL,NULL,NULL
3,8,2017-12-01,1,NULL,NULL,NULL
4,2,2017-01-22,1,NULL,NULL,NULL
6,10,2018-11-18,1,Aliquam erat volutpat. In congue.,NULL,NULL
8,5,2018-06-08,1,"Mauris enim leo, rhoncus sed, vestibulum sit amet, cursus id, turpis.",NULL,NULL

In [32]:
-- Exercise 9
-- By default primary key is used for ordering the rows in a table

-- Order by Total Price by Desc order for the Order ID 2

SELECT OrderId, ProductId, Quantity, UnitPrice FROM OrderItems WHERE OrderID =2 Order By Quantity * UnitPrice DESC;

-- Sorting by Column number

SELECT FirstName, LastName , City FROM Customers ORDER BY 3, 1;

-- Sorting based on the Column not in the select clause

SELECT FirstName, LastName, Address FROM Customers ORDER BY City;

OrderId,ProductId,Quantity,UnitPrice
2,1,2,9.10
2,4,4,1.66
2,6,2,2.94

FirstName,LastName,City
Clemmie,Betchley,Arlington
Levy,Mynett,Atlanta
Elka,Twiddell,Chicago
Freddi,Boagey,Colorado Springs
Ines,Brushfield,Hampton
Ilene,Dowson,Nashville
Ambur,Roseburgh,Orlando
Thacher,Naseby,Sarasota
Romola,Rumgay,Visalia
Babara,MacCaffrey,Waltham

FirstName,LastName,Address
Clemmie,Betchley,5 Spohn Circle
Levy,Mynett,68 Lawn Avenue
Elka,Twiddell,7 Manley Drive
Freddi,Boagey,251 Springs Junction
Ines,Brushfield,14187 Commercial Trail
Ilene,Dowson,50 Lillian Crossing
Ambur,Roseburgh,30 Arapahoe Terrace
Thacher,Naseby,538 Mosinee Center
Romola,Rumgay,3520 Ohio Trail
Babara,MacCaffrey,0 Sage Terrace

In [41]:
-- Exercise 10

-- Limit Clause
-- Get the top three Loyal Customers

SELECT  TOP(3) * FROM Customers Order By Points DESC;

-- Offset
SELECT   * FROM Customers Order By Points DESC;
SELECT   * FROM Customers Order By Points DESC OFFSET 7 ROWS FETCH NEXT 1 ROWS ONLY;

CustomerId,FirstName,LastName,BirthDate,Phone,Address,City,State,Points
5,Clemmie,Betchley,1973-11-07,NULL,5 Spohn Circle,Arlington,TX,3675
6,Elka,Twiddell,1991-09-04,312-480-8498,7 Manley Drive,Chicago,IL,3073
3,Freddi,Boagey,1985-02-07,719-724-7869,251 Springs Junction,Colorado Springs,CO,2967

CustomerId,FirstName,LastName,BirthDate,Phone,Address,City,State,Points
5,Clemmie,Betchley,1973-11-07,NULL,5 Spohn Circle,Arlington,TX,3675
6,Elka,Twiddell,1991-09-04,312-480-8498,7 Manley Drive,Chicago,IL,3073
3,Freddi,Boagey,1985-02-07,719-724-7869,251 Springs Junction,Colorado Springs,CO,2967
1,Babara,MacCaffrey,1986-03-28,781-932-9754,0 Sage Terrace,Waltham,MA,2273
7,Ilene,Dowson,1964-08-30,615-641-4759,50 Lillian Crossing,Nashville,TN,1672
9,Romola,Rumgay,1992-05-23,559-181-3744,3520 Ohio Trail,Visalia,CA,1486
2,Ines,Brushfield,1986-04-13,804-427-9456,14187 Commercial Trail,Hampton,VA,947
10,Levy,Mynett,1969-10-13,404-246-3370,68 Lawn Avenue,Atlanta,GA,796
4,Ambur,Roseburgh,1974-04-14,407-231-8017,30 Arapahoe Terrace,Orlando,FL,457
8,Thacher,Naseby,1993-07-17,941-527-3977,538 Mosinee Center,Sarasota,FL,205

CustomerId,FirstName,LastName,BirthDate,Phone,Address,City,State,Points
10,Levy,Mynett,1969-10-13,404-246-3370,68 Lawn Avenue,Atlanta,GA,796