In [1]:
-- Init
-- Ensure Init StoreDB is run before to setup the Store DB

USE Store;

In [5]:
-- Insert
INSERT INTO Customers VALUES ( 'John', 'Smith', '1990-01-01', NULL, 'Lake view street', 'New York', 'NY', DEFAULT );

INSERT INTO Customers (FirstName, LastName, BirthDate, Address, City, State) VALUES ( 'Jack', 'Mayers', '1996-06-21', 'Ocean street', 'Chicago', 'IL');

In [6]:
-- Insert Multiple Rows
INSERT INTO Shippers (name) VALUES ('Bluedart'),('Shiprocket'), ('FedEx');

In [8]:
-- Exercise
-- Three entries in products table

INSERT INTO Products
    (Name, QuantityInStock, UnitPrice)
VALUES
    ('Moonshine', 100, 2.25),
    ('Canned Peach', 250, 2),
    ('Tuna Can', 50, 5);

ProductId,Name,QuantityInStock,UnitPrice
1,Foam Dinner Plate,70,1.21
2,"Pork - Bacon,back Peameal",49,4.65
3,"Lettuce - Romaine, Heart",38,3.35
4,"Brocolinni - Gaylan, Chinese",90,4.53
5,Sauce - Ranch Dressing,94,1.63
6,Petit Baguette,14,2.39
7,Sweet Pea Sprouts,98,3.29
8,Island Oasis - Raspberry,26,0.74
9,Longan,67,2.26
10,Broom - Push,6,1.09

In [11]:
-- Hierarchical  Insertion
INSERT INTO Orders (CustomerId, OrderDate,Status) VALUES (8, '2022-01-02', 1);

INSERT INTO OrderItems VALUES (SCOPE_IDENTITY(), 1, 1,2.95), (SCOPE_IDENTITY(), 2,1, 2.95);