In [4]:
-- Init
-- Ensure Init StoreDB is run before to setup the Store DB

USE Store;

In [1]:
-- Aggrefate Functions
-- It takes series of values to aggregate them into single value

-- MAX() MIN() AVG() SUM() COUNT()

SELECT MAX(Points) 'Highest Points', MIN(Points) 'Lowest Points', AVG(Points) 'AVG Points', SUM(Points) 'Total Points', COUNT(Points) 'Customers'
from Customers;

-- COUNT() doesn't include null values
SELECT COUNT(ShippedDate)
FROM [store].[dbo].[Orders]

: Msg 208, Level 16, State 1, Line 6
Invalid object name 'Customers'.

In [14]:
-- Exercise 1
    SELECT 'Born Before 1990' DateRange, SUM(Points) 'Total Points'
    FROM Customers
    WHERE YEAR(BirthDate) < 1990
UNION
    SELECT 'Born After 1990' DateRange, SUM(Points) 'Total Points'
    FROM Customers
    WHERE YEAR(BirthDate) > 1990
UNION
    SELECT 'Total' DateRange, SUM(Points) 'Total Points'
    FROM Customers

DateRange,Total Points
Born After 1990,4764
Born Before 1990,13137
Total,17901

In [2]:
-- Group By
SELECT COUNT(OrderId) Purchases, CustomerId
FROM Orders
GROUP BY CustomerId;


SELECT Purchases, FirstName
FROM (SELECT COUNT(O.OrderId) Purchases, CustomerId
    FROM Orders O
    GROUP BY O.CustomerId) as GrpOrder JOIN Customers C ON GrpOrder.CustomerId = C.CustomerId;

Purchases,CustomerId
2,2
2,5
2,6
1,7
2,8
2,10

Purchases,FirstName
2,Ines
2,Clemmie
2,Elka
1,Ilene
2,Thacher
2,Levy

In [27]:
-- HAVING Clause
-- It is for filtering data after the GROUP BY operation

SELECT COUNT(OrderId) Purchases, MIN(OrderDate) 'First Order Date', CustomerId
FROM Orders
WHERE YEAR(ShippedDate) < 2020
GROUP BY CustomerId
HAVING CustomerId < 10

Purchases,First Order Date,CustomerId
1,2018-09-22,2
1,2017-08-25,5
1,2018-04-22,6
1,2018-08-02,7

In [31]:
-- Exercise 2
-- Customers from Virginia and spent more than 100 dollars
-- SELECT OrderId, SUM(Quantity * UnitPrice) as TotalSales FROM OrderItems GROUP BY OrderId;
SELECT *
FROM (
SELECT
        C.CustomerId, C.FirstName, SUM(OI.TotalPrice) as TP
    FROM Customers C
        JOIN Orders O ON C.CustomerId = O.CustomerId
        JOIN (SELECT *, Quantity * UnitPrice AS TotalPrice
        FROM OrderItems) OI ON O.OrderId = OI.OrderID
    WHERE State = 'VA'
    GROUP BY C.CustomerId, C.FirstName) as JD
WHERE TP > 50

CustomerId,FirstName,TP
2,Ines,157.92